<h1> Available Trains</h1>
<table Width="60%">
    <tr>
      <th>Train Ticket ID</th>
      <th>Origin</th>
      <th>Destination</th>
      <th>Price</th>
    </tr>
    <tr *ngFor="let tr of Trains; let i = index">
        <td>{{tr.trainTicketId}}</td>
        <td>{{tr.origin}}</td>
        <td>{{tr.destination}}</td>
        <td>{{tr.price}}</td>
      </tr>
      </table>
      <form (submit)=
"addNewTrain({trainTicketId:0,origin:porigin.value,destination:pdestination.value,price:pprice.value})">
  <tr>
    <td><input placeholder="origin" #porigin></td>
    <td><input placeholder="destination" #pdestination></td>
    <td><input placeholder="price" #pprice></td>
    <td><input type="submit" value="Add"></td>
  </tr>
</form>
