<table class="table table-dark">
  <tr>
    <th>Hotel ID</th>
    <th>Occupants</th>
    <th>Room Size</th>
    <th>Price</th>
    <th>Location</th>
    <th>Duration</th>
    <th>Late Checkout</th>
  </tr>
  <tr *ngFor="let ht of hotels;let i = index">
    <td>{{ht.hotelId}}</td>
    <td>{{ht.occupants}}</td>
    <td>{{ht.roomSize}}</td>
    <td>{{ht.price}}</td>
    <td>{{ht.loction}}</td>
    <td>{{ht.duration}}</td>
    <td>{{ht.lateCheckout}}</td>
  </tr>
  </table>

  <form (submit)="addNewHotel({hotelId:0,occupants:poccupants.value,roomSize:proomsize.value,price:pprice.value,location:plocation.value,duration:pduration.value,lateCheckout:platecheckout.value})">
    <table>
      <tr>
        <td><input placeholder="Occupants" #poccupants></td>
        <td><input placeholder="Room Size" #proomsize></td>
        <td><input placeholder="Price" #pprice></td>
        <td><input placeholder="Location" #plocation></td>
        <td><input placeholder="Duration" #pduration></td>
        <td><input placeholder="Late Checkout" #platecheckout></td>
        <td><input type="submit" value="Add"></td>
      </tr>
    </table>
    </form>